USE [master]
GO
/****** Object:  Database [СистемаУправленияПерсоналом]    Script Date: 31.03.2026 1:18:16 ******/
CREATE DATABASE [СистемаУправленияПерсоналом]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonnelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonnelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonnelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonnelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [СистемаУправленияПерсоналом].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [СистемаУправленияПерсоналом]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[КодДолжности] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[BaseHourlyRate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодДолжности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отделы]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отделы](
	[КодОтдела] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОтдела] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты](
	[КодОтчета] [int] IDENTITY(1,1) NOT NULL,
	[КодПользователя] [int] NOT NULL,
	[КодОтдела] [int] NULL,
	[PeriodStart] [date] NOT NULL,
	[PeriodEnd] [date] NOT NULL,
	[ДатаСоздания] [datetime2](0) NOT NULL,
	[Название] [nvarchar](150) NOT NULL,
	[Примечание] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодОтчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[КодПользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[ФИО] [nvarchar](120) NOT NULL,
	[Администратор] [bit] NOT NULL,
	[Активен] [bit] NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РабочиеЧасы]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РабочиеЧасы](
	[КодЗаписи] [int] IDENTITY(1,1) NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[КодТипаСмены] [int] NOT NULL,
	[ДатаРаботы] [date] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[BreakMinutes] [int] NOT NULL,
	[Комментарий] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодЗаписи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Time] UNIQUE NONCLUSTERED 
(
	[КодСотрудника] ASC,
	[ДатаРаботы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[КодСотрудника] [int] IDENTITY(1,1) NOT NULL,
	[КодОтдела] [int] NOT NULL,
	[КодДолжности] [int] NOT NULL,
	[Фамилия] [nvarchar](60) NOT NULL,
	[Имя] [nvarchar](60) NOT NULL,
	[Отчество] [nvarchar](60) NULL,
	[ДатаРождения] [date] NULL,
	[Телефон] [nvarchar](30) NULL,
	[Почта] [nvarchar](120) NULL,
	[ДатаПриема] [date] NOT NULL,
	[Активен] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СтатусыСотрудников]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СтатусыСотрудников](
	[КодСтатуса] [int] IDENTITY(1,1) NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[ВидСтатуса] [nvarchar](50) NOT NULL,
	[ДатаНачала] [date] NOT NULL,
	[ДатаОкончания] [date] NOT NULL,
	[Комментарий] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[КодСтатуса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипыСмен]    Script Date: 31.03.2026 1:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипыСмен](
	[КодТипаСмены] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](60) NOT NULL,
	[ВремяНачалаПоУмолчанию] [time](0) NOT NULL,
	[ВремяОкончанияПоУмолчанию] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[КодТипаСмены] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeEntries_WorkDate]    Script Date: 31.03.2026 1:18:16 ******/
CREATE NONCLUSTERED INDEX [IX_TimeEntries_WorkDate] ON [dbo].[РабочиеЧасы]
(
	[ДатаРаботы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_РабочиеЧасы_ДатаРаботы]    Script Date: 31.03.2026 1:18:16 ******/
CREATE NONCLUSTERED INDEX [IX_РабочиеЧасы_ДатаРаботы] ON [dbo].[РабочиеЧасы]
(
	[ДатаРаботы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Department]    Script Date: 31.03.2026 1:18:16 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Department] ON [dbo].[Сотрудники]
(
	[КодОтдела] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_СтатусыСотрудников_Период]    Script Date: 31.03.2026 1:18:16 ******/
CREATE NONCLUSTERED INDEX [IX_СтатусыСотрудников_Период] ON [dbo].[СтатусыСотрудников]
(
	[КодСотрудника] ASC,
	[ДатаНачала] ASC,
	[ДатаОкончания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Отчеты] ADD  DEFAULT (sysdatetime()) FOR [ДатаСоздания]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((0)) FOR [Администратор]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[РабочиеЧасы] ADD  DEFAULT ((60)) FOR [BreakMinutes]
GO
ALTER TABLE [dbo].[Сотрудники] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD  CONSTRAINT [FK_Rep_Dep] FOREIGN KEY([КодОтдела])
REFERENCES [dbo].[Отделы] ([КодОтдела])
GO
ALTER TABLE [dbo].[Отчеты] CHECK CONSTRAINT [FK_Rep_Dep]
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD  CONSTRAINT [FK_Rep_User] FOREIGN KEY([КодПользователя])
REFERENCES [dbo].[Пользователи] ([КодПользователя])
GO
ALTER TABLE [dbo].[Отчеты] CHECK CONSTRAINT [FK_Rep_User]
GO
ALTER TABLE [dbo].[РабочиеЧасы]  WITH CHECK ADD  CONSTRAINT [FK_Time_Emp] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[РабочиеЧасы] CHECK CONSTRAINT [FK_Time_Emp]
GO
ALTER TABLE [dbo].[РабочиеЧасы]  WITH CHECK ADD  CONSTRAINT [FK_Time_Shift] FOREIGN KEY([КодТипаСмены])
REFERENCES [dbo].[ТипыСмен] ([КодТипаСмены])
GO
ALTER TABLE [dbo].[РабочиеЧасы] CHECK CONSTRAINT [FK_Time_Shift]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Dep] FOREIGN KEY([КодОтдела])
REFERENCES [dbo].[Отделы] ([КодОтдела])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Employees_Dep]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Role] FOREIGN KEY([КодДолжности])
REFERENCES [dbo].[Должности] ([КодДолжности])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Employees_Role]
GO
ALTER TABLE [dbo].[СтатусыСотрудников]  WITH CHECK ADD  CONSTRAINT [FK_СтатусыСотрудников_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[СтатусыСотрудников] CHECK CONSTRAINT [FK_СтатусыСотрудников_Сотрудники]
GO
ALTER TABLE [dbo].[Должности]  WITH CHECK ADD CHECK  (([BaseHourlyRate]>=(0)))
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD  CONSTRAINT [CHK_Rep_Period] CHECK  (([PeriodEnd]>=[PeriodStart]))
GO
ALTER TABLE [dbo].[Отчеты] CHECK CONSTRAINT [CHK_Rep_Period]
GO
ALTER TABLE [dbo].[РабочиеЧасы]  WITH CHECK ADD  CONSTRAINT [CHK_Time_Duration] CHECK  ((((datediff(minute,'00:00',[EndTime])-datediff(minute,'00:00',[StartTime]))+(1440))%(1440)>=(60) AND ((datediff(minute,'00:00',[EndTime])-datediff(minute,'00:00',[StartTime]))+(1440))%(1440)<=(960)))
GO
ALTER TABLE [dbo].[РабочиеЧасы] CHECK CONSTRAINT [CHK_Time_Duration]
GO
ALTER TABLE [dbo].[РабочиеЧасы]  WITH CHECK ADD CHECK  (([BreakMinutes]>=(0) AND [BreakMinutes]<=(300)))
GO
USE [master]
GO
