<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Db"
			 connectionString="Data Source=DESKTOP-UTPLMR1\SQLEXPRESS;Initial Catalog=СистемаУправленияПерсоналом;Integrated Security=True;TrustServerCertificate=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>